@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


* html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.gradient-bg-hero {
    background-color: #151c25;
    background-image: radial-gradient(at 0% 0%,
            hsl(302deg 25% 18%) 0,
            transparent 50%),
        radial-gradient(at 50% 0%, hsl(249, 87%, 15%) 0, transparent 50%),
        radial-gradient(at 100% 0%, rgb(33, 22, 145) 0, transparent 50%);
}

.gradient-bg-artworks {
    background-color: #0f0e13;
    background-image: radial-gradient(at 50% 50%,
            hsl(302deg 25% 18%) 0,
            transparent 50%),
        radial-gradient(at 0% 0%, rgb(249, 87%, 15%) 0, transparent 50%),
        radial-gradient(at 50% 50%, hsla(339, 39%, 25%, 1) 0, transparent 50%);
}

.gradient-bg-footer {
    background-color: #151c25;
    background-image: radial-gradient(at 0% 100%,
            hsl(0deg 39% 30%) 0,
            transparent 53%),
        radial-gradient(at 50% 150%, rgb(22, 9, 121) 0, transparent 50%);
}

.text-gradient {
    background: -webkit-linear-gradient(#eee, #333);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.lds-dual-ring {
    display: inline-block;
}

.lds-dual-ring:after {
    content: ' ';
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    h1 {
        @apply mb-2 text-3xl font-bold;
    }

    h2 {
        @apply mb-1 text-xl font-semibold;
    }

    a {
        @apply text-blue-600 hover:text-purple-500 transition decoration-wavy underline-offset-2;
    }

    input,
    select {
        @apply p-1 mb-1 border text-base border-slate-300 rounded-sm outline-none;
    }

    input[type="text"] {
        @apply placeholder:italic disabled:bg-slate-100;
    }

    input[type="checkbox"] {
        @apply p-2 accent-purple-500 mr-1 mb-0;
    }

    label {
        @apply text-sm text-slate-700 font-medium leading-4;
    }

    .btn {
        @apply px-4 py-2 rounded-lg hover:transition hover:opacity-80 hover:duration-300;
    }

    .btn:hover {
        @apply transition duration-300
    }

    .btn-primary {
        @apply bg-blue-600 hover:bg-blue-500 text-white;
    }

    .btn-secondary {
        @apply bg-slate-800 hover:bg-slate-700 text-white;
    }
}